S3method(print,ParsedGroovyScriptIOVar)
export(executeGroovyFile)
export(getValueFromScript)
export(parseGroovyFile)
export(putInputValuesInScript)
export(putValueInScript)
import(methods)
import(raster)
import(stringr)
